In [1]:
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

In [3]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [5]:
animal='cat'
filter = (df['animal']==animal) & (df['age']<3)
df[filter]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [10]:
def filter_animals(df,animal):
    animal=str(animal)
    filter = (df['animal']==animal) & (df['age']<3)
    
    return df[filter]

len(filter_animals(df,'snake'))

1

In [12]:
filter_animals(df,'snake')

  animal  age  visits priority
c  snake  0.5       2       no